h2{
    text-align: center;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.mycontainer{
    background-color:rgb(220, 222, 220);
    width:350px;
    padding: 10px;
    border-radius: 30px;
    text-align:justify;
    margin: 50px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    width:300px;
    padding:7px;
    font-size: 12px;
    border-radius: 10px;
    color:rgb(2, 2, 2);
    cursor:pointer;
    margin: top;
    border-color:white;
    borde
}
button{
    background-color:orange;
    width:315px;
    border-radius: 10px;
    text-align: center;
    color: white;
border-color:white;
cursor:pointer;
}
p{
    text-align: center;
    margin-top: 15px;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
